<div id="forgot_password">
	<h2>Forgot Password</h2>
	<p>Fill out the form below and instructions to reset your password<br />will be emailed to you:<br /></p>
	<% form_tag password_resets_path do %>
	  <label>Email</label><br />
	  <%= text_field_tag "email" %><br />
	  <hr>
	  <%= submit_tag "Reset my password" %>
	<% end %>	
</div>
