<fieldset id="login">
	<legend>Forgot Password</legend>
	<p>Fill out the form below and instructions to reset your password<br />will be emailed to you:</p>
	<% form_tag password_resets_path do %>
	  <label>Email:</label><%= text_field_tag "email" %><br />
</fieldset>
<div id="user_submit">
	<%= submit_tag "Reset my password" %><%= link_to "Cancel", :back %>
</div>
<% end %>
