/* @override http://0.0.0.0:3000/stylesheets/style.css?1230897242 */

/* @group css_reset */

/* Eric Meyers Reset CSS rules */
html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	line-height: 1.6;
	font-family: inherit;
	text-align: left;
	vertical-align: baseline;
}
a img, :link img, :visited img {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol, ul {
	list-style: none;
}

ul.task {
	margin-bottom: 20px;

}
q:before, q:after,
blockquote:before, blockquote:after {
	content: "";
}

/* @end */

/* @group task_master */

body {
	background-color: #cbc9cf;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#wrapper {
	width: 750px;
	min-height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

/* @group headder */

#headder {
	padding-top: 10px;
	width: 730px;
	height: 95px;
	background-color: #807f83;
	padding-left: 20px;

}

#logo {
	width: 267px;
	height: 85px;
	margin-left: 20px;
	margin-top: 10px;
	background-color: #807f83;
	float: left;
	color: white;
	font: bold 2.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#tado{
	font-style: italic;
	font-size: .8em;
}
#login_status{
	float: right;
	font-size: .78em;
	margin-top: -5px;
	color: #424143;
}
#log_link{
	margin-left: 5px;
	margin-right: 10px;
}
#log_link a{
	color: #424143;
}
#log_link a:hover{
	color: #106ed3;
}

/* @group menu */


#menu {
	overflow: auto;
	float: right;
	margin-right: 2px;
	margin-top: 35px;
	clear: right;
}

#menu ul.navigation{
	display: block;
	list-style-type: none;
	overflow: auto;
}

#menu ul.navigation li{
	display: block;
	float: right;
	list-style-type: none;
	margin-right: 1px;
	padding: 0px;
}

.navigation li a {
	display: block;
	width: 120px;
	height: 29px;
	padding-top: 7px;
	font-size:1em;
	font-weight: bold;
	line-height:1.56em;
	text-decoration:none;
	text-align: center;
	
	background-color: #cbc9cf;
	color: #807f83;
}
.navigation li a.active{
	background-color: white;
	color: #67666a;
}

.navigation li a:hover{
	background-color: white;
	color: #106ed3;
}



/* @end */

/* @group search */

#search_box {
	float: right;
	margin-left: 10px;
}

input#search{
	border-style: none;
	height: 20px;
	font-size: .90em;
	padding: 2px 3px;
	font-weight: bold;
	margin-right: 10px;
	color: #cbc9cf;
}

#submit {
	display: none;
	width:30px;
}



/* @end */
/* @end */

/* @end */

/* @group main_content */

/* @group Add task */


div#addTask {
	display: block;
	border-top: 1px solid #cbc9cf;
	padding: 20px 10px;
	background-color: #ececec;
	border-bottom: 1px solid #cbc9cf;
	margin-top: 40px;
}

#addTask form label {
	float: left;
	margin-right: 5px;
	
}

#addTask form textarea {
	font-size: 1em;
	line-height: 1.4em;
}

#addTask form p {
	margin-left: 86px;
	font-size: 13px;
	margin-top: 10px;
}


input#tSubmit {
	float: right;
	margin-right: 20px;
	font-size: 2em;
	margin-top: -1px;
}

/* @end */

#page {
	clear: both;
	background-color: #fff;
	padding: 40px;
}

/* @group task_list */

div#tasks {
	font-size: 13px
}

a.tsk_assingedTo {
	width: 24px;
	display: block;
	float: left;
	text-align: center;
	text-decoration: none;
	color: #424143;
}

a.tsk_assingedTo:hover {
	text-decoration: underline;
}

a.tsk_comments:hover {
	text-decoration: underline;
}

a.tsk_comments {
	color: #807f83;
	text-decoration: none;
}

li.tsk_bottomRow {
	color: #807f83;
}

span.tsk_created {
	margin-left: 22px;
}

a.tsk_statusTodo, a.tsk_statusWIP {
	width: 28px;
	height: 24px;
	background: url(../assets/status.png) no-repeat 0 -66px;
	clear: right;
	float: left;
	overflow: auto;
	display: block;
	z-index: 1;
}
a.tsk_statusWIP {
	background: url(../assets/status.png) no-repeat 0 -6px;
}

li.tsk_bottomRow {
	margin-top: -1px;
}

div.tsk {
	margin-bottom: 15px;
}

a.tsk_name {
	font-size: 16px;
	font-weight: bold;
	margin-right: 15px;
	padding-top: 5px;
	margin-left: 18px;
	color: #000;
	text-decoration: none;
}

a.tsk_name:hover {
	color: #106ed3;
}

a.tsk_statusTodo:hover, a.tsk_statusWIP:hover {
	background: url(../assets/status.png) no-repeat 0 -36px;
}


/* @end */

/* @end */

/* @group login_page */

h2 {
	font: 26px Georgia, "Times New Roman", Times, serif;
	margin-bottom: 20px;
	
}

#login form p, #register form p {
	padding-bottom: 10px;
}

p#remember_me {
	font-size: 13px;
}
#login form input, #register form input{
	font-size: 16px;
}

input#submit_login, input#submit_register {
	float: right;
	margin-top: 10px;
	margin-right: 65px;
}



div#login {
	width: 280px;
	display: block;
	float: left;
	padding-left: 40px;
}

div#center {
	width: 30px;
	float: left;
}

div#top_midBorder, div#bot_midBorder {
	height: 150px;
	width: 15px;
	margin-left: 15px;
	border-left: 1px solid #cbc9cf;
}

#center p {
	text-align: center;
	font: 20px Georgia, "Times New Roman", Times, serif;
	padding-top: 10px;
	padding-bottom: 10px;
}




div#register {
	padding-left: 40px;
	display: inline-block;
}







/* @end */

/* @group errors */

.fieldWithErrors {
  padding: 1px;
  background-color: red;
  display: table;
  margin-top: -10px;
}

#errorExplanation {
  
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
	border-top-color: #c20404;
	border-top-width: 1px;
}

#errorExplanation h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  margin: -7px;
  background-color: #c20404;
  color: #fff;
  font: bold 12px "Lucida Grande", Lucida, Verdana, sans-serif;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: none;
}





/* @end */

/* @group ideas */



/* @end */

.form_notes {
	font-size: 12px;
	color: #807f83;
}