/* @override 
	http://localhost:3000/stylesheets/video_archive.css?1246194697
	http://localhost:3000/stylesheets/video_archive.css?1246268413
	http://localhost:3000/stylesheets/video_archive.css?1246270681
*/

/* @group CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}


li {
	color: #807f83;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
input {
	margin: 0;
	padding: 0;
	font-size: 16px;
	border: 2px solid #b4b4b4;
	margin-bottom: 10px;
	padding-left: 3px;
	line-height: 26px;
	color: #000000;
}



/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	padding-bottom: 20px;
	margin-top: 10px;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


/* @end */

body {
	background-color:#222;
	font: 13.34px/17.34px helvetica,arial,clean,sans-serif;*font-size:small;

}


div#login_status {
	text-align: right;
	margin-right: 20px;
	padding-top: 10px;
	color: #142a00;
}

#login_status a, #login_status a:visited {
	color: #193400;
}
#login_status a:hover {
	color: #fff;
}
legend {
	font-size: 20px;
}

#new_video hr {
	margin-left: 20px;
	margin-right: 20px;
	border-style: none;
	border-top: 1px solid #dcdcdc;
}
fieldset {
	margin-top: 20px;
	padding: 20px;
}

#new_video_comments p {
	width: 240px;
	float: right;
	margin-right: 80px;
	margin-top: 40px;
	line-height: 20px;
	color: #777;
}


label {
	float: left;
	text-align: right;
	margin-right: 10px;
	padding-top: 15px;
}

select#video_source_media {
	
}


a, a:visited {
	color: #0e61b9;
}
a:hover{
	color: #1175e0;
}


#header {
	width:888px;
	height:140px;
	margin:auto;
	background-color: #1175e0;
	background-image: url(../images/header_video.png);
}

#page {
	width:868px;
	margin:auto;
	background-color:white;
	border-left:solid 1px #454545;
	border-right:solid 1px #454545;
}

#content {
	padding-left:25px;
	padding-right: 25px;
	padding-top:20px;
	background-repeat:no-repeat;
	min-height: 400px;
}

/* @group list_table */

#table table tbody {
	border-left-style: solid;
	border-left-color: #777;
}





#table table thead tr {
	background-color: #dcdcdc;
}

#table table thead tr th {
	padding-top: 8px;
	padding-bottom: 6px;
	padding-left: 10px;
	border-left: 1px none #b6b6b6;
	border-bottom: 1px solid #b6b6b6;
	border-right: 1px solid #b6b6b6;
}


#table table thead tr th a {
		color: #424143;
	font-size: 14px;
	font-weight: bold;
	border-bottom-color: #dcdcdc;
}

#table table tbody tr.even td {
	padding-top: 4px;
	padding-bottom: 3px;
	padding-left: 10px;
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;

}
#table table tbody tr.odd td {
	padding-top: 4px;
	padding-bottom: 3px;
	padding-left: 10px;
	background-color: #d9fffd;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}

#table table thead tr th#edit_video,
#table table thead tr th#destroy_video {
	border-right-style: none;
	border-left-style: none;
}

#table table tbody tr.even td.video_edit_link,
#table table tbody tr.even td.video_destroy_link,
#table table tbody tr.odd td.video_edit_link,
#table table tbody tr.odd td.video_destroy_link {
	border-right-style: none;
	border-left-style: none;
}

#table table tbody tr.even td.video_destroy_link,
#table table tbody tr.odd td.video_destroy_link {
	padding-left: 0px;
}

th#video_title {
	width: 37%;
}
th#video_title.sortup {
	background: url(../images/pointer_up.png) no-repeat 98%;
}
th#video_title.sortdown {
	background: url(../images/pointer.png) no-repeat 98%;
}


th#video_customer {
	width: 25%;
}
th#video_customer.sortup {
	background: url(../images/pointer_up.png) no-repeat 97%;
}
th#video_customer.sortdown {
	background: url(../images/pointer.png) no-repeat 97%;
}

#video_source {
	width: 12%;
}
#video_source.sortup {
	background: url(../images/pointer_up.png) no-repeat 95%;
}
#video_source.sortdown {
	background: url(../images/pointer.png) no-repeat 95%;
}

th#video_created_at {
	width: 15%;
}
th#video_created_at.sortup {
	background: url(../images/pointer_up.png) no-repeat 95%;
	border-bottom-color: #dcdcdc;
}
th#video_created_at.sortdown {
	background: url(../images/pointer.png) no-repeat 95%;
}



div#filter {
	display: block;
	height: 50px;
	border-bottom: 1px solid #a3a2a6;
	padding-left: 25px;
	background: #dcdcdc;
	padding-top: 7px;
	padding-right: 20px;
}


form#video_filter {
	display: block;
	color: #646265;
	font-size: 14px;
	font-weight: bold;
}

div#add_video{
	float: right;
	display: block;
}

div#filter_form {
	float: left;
	padding-top: 7px;
}

a#add_new_video {
	display: block;
	width: 144px;
	height: 45px;
	text-indent: -3000px;
	background: url(../images/add_new_video.png) no-repeat;
}



/* @end */

/* @group errors */

/* @group new_new_page */

div#videos_header_title {
	padding-top: 5px;
	padding-left: 20px;
	width: 450px;
	float: left;
}

#videos_header_length {
	padding-left: 20px;
	padding-top: 5px;
	height: 23px;
	width: 100px;
	float: left;
	border-left: 1px solid #b4b4b4;
	border-right: 1px solid #b4b4b4;
}

#videos_header {
	height: 28px;
	font-size: 14px;
	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	color: #777;
	border: 1px solid #b4b4b4;
	background-color: #dcdcdc;
}

#videos_header_length span {
	font-size: 11px;
	color: #fff;
}

#video_header_source {
	padding-left: 20px;
	float: left;
	padding-top: 5px;
}




/* @end */

/* @group new_video */

h4 {
	color: #5BAB0A;
	font-size: 18px;
	font-weight: bold;
}


div.video_title_field, div.video_length_field,div.video_source_field {
	float: left;
	width: 471px;
	padding-top: 10px;
}

div.video_length_field {
	width: 120px;
	border-right: 1px solid #b4b4b4;
	border-left: 1px solid #b4b4b4;
}

div.video_source_field {
	padding-top: 2;
	width: 100px;
	margin-left: 20px;
}

input#video_details__title, input#video_title {
	width: 426px;
	margin-left: 20px;
}

input#video_details__length,input#video_length {
	width: 74px;
	margin-left: 20px;
}

input#video_title {
	width: 426px;
	margin-left: 20px;
}


select#video_details__source_id, select#video_source_id, select#video_source_media {
	margin: 0;
	padding: 0;
	font-size: 14px;
	border: 3px solid #b4b4b4;
	margin-top: 3px;
	margin-bottom: 10px;
	line-height: 1.5em;
	color: #000000;
}


#content h1 {
	color: #509707;
	margin-bottom: 20px;
	font: normal bold 30px "Arial Rounded MT Bold", Lucida, Verdana, sans-serif;
}

select#filter_on {
	font-size: 14px;
	border: 2px solid #b4b4b4;
	line-height: 1.5em;
	color: #000000;
}

select#video_details__source_media {
	font-size: 14px;
	border: 2px solid #b4b4b4;
	line-height: 1.5em;
	color: #000000;
}

#videos div.video div.video_source_field span a {
	float: right;
}

#videos div.video div.remove_video{
	height: 100%;
	display: block;
	float: left;
	margin-top: 18px;
}

fieldset#customer {
	width: 380px;
	float: left;
}

div#add_another_video a{
	margin-left: 20px;
	color: #106ed3;
}

#videos div.video div.remove_video a {
	color: #106ed3;
}





div#video_wrapper, div#customer_wrapper {
	margin-top: 10px;
	border: 1px solid #a3a2a6;
	padding-top: 20px;
	padding-left: 25px;
	padding-bottom: 13px;
	-webkit-border-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-topleft: 8px;
	background-color: #f4f4f4;
}

#customer span {
	margin-right: 10px;
	color: #5BAB0A;
	font-size: 18px;
	font-weight: bold;
}


div#customer_wrapper {
	width: 70%;
	margin-top: 0px;
	background-color: #EAF4E0;
	border: 1px solid #5BAB0A;
}




/* @end */

/* @group errors */






div#errorExplanation.errorExplanation {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	padding: 10px;
	color: #de0049;
	border: 1px solid #de0049;
	background-color: #fdffc6;
	margin-top: 10px;
	margin-bottom: 40px;
}

#errorExplanation h2 {
	text-align: center;
	font-weight: bold;
}

#errorExplanation ul li {
	color: #808164;
}

div.fieldWithErrors {
	margin-bottom: -17px;
}

div.fieldWithErrors input#video_details__title,
div.fieldWithErrors input#video_title,
div.fieldWithErrors select#video_details__source_media,
div.fieldWithErrors input#video_details__length,
div.fieldWithErrors input#video_length {
	border: 2px solid #ff0080;
}



/* @end */

a#cancel_video {
	
	float: right;
	margin: 25px 20px 0 0;
	color: #106ed3;
}

div#video_submit {
	margin-top: 20px;
	border-top: 1px solid #b4b4b4;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}

#video_submit input {
	border: none;
	float: right;
}


/* @group flashes */

div#flash_notice {
	color: #9a995f;
	background-color: #fdffc6;
	border: 1px solid #f2f096;
	padding: 3px 6px;
	margin-bottom: 15px;
	margin-right: 20px;
}



/* @end */