<% form_for @user, :url => account_path do |f| %>
<%= render :partial => "form", :object => f %>
<div id="user_submit">
	<%= f.submit "Update my profile" %><%= link_to "Cancel", :back %>
</div>
<% end %>


