<% form_for @user, :url => account_path do |f| %>
<div id="register">
	<div id="register_form">
		<%= render :partial => "form", :object => f %>
		<div id="user_submit">
			<%= f.submit "Register & login" %><%= link_to "Cancel", :back %>
		</div>
	</div>
</div>
<% end %>




