<div class="video">
<% fields_for "video[details][]", video do |video_details| %>
	<div class="video_title_field">
		<%= video_details.text_field :title, :size => 40 %>
	</div>
	<div class="video_length_field">
		<%= video_details.text_field :length, :size => 7 %>
	</div>
	<div class="video_source_field">
		<%= video_details.select(:source_media, Video::SOURCES, :include_blank => true) %>
	</div>
	<div class="remove_video">
		<%= link_to_function "remove", "$(this).up('.video').remove()" %>
	</div>
<% end %>
<p style="clear:both;text-align:center;position:relative;top:25px;padding:0px;margin:0px"></p>	
</div>
