<div id="table">
<%= render :partial => "videos_list" %>
</div>

<p>
	<%= image_tag("spinner.gif",
	              :align => "absmiddle",
	              :border => 0,
	              :id => "spinner",
	              :style =>"display: none;" ) %>
	</p>
	