<% form_for :video, :url => { :action => "create" } do |f| %>
	<%= render :partial => "form", :object => f %>
	<div id="video_submit">
		<%= image_submit_tag("submit_video.png") %>
		<%= link_to "Cancel", list_path, :id => "cancel_video" %>
		<p style="clear:both;text-align:center;position:relative;top:25px;padding:0px;margin:0px"></p>	
	</div>
<% end %>