<h1>Add Video/videos</h1>
<%= render :partial => 'form' %>

<%= link_to "Back to List", list_path, :id => "cancel_video" %>
<p style="clear:both;text-align:center;position:relative;top:25px;padding:0px;margin:0px"></p>	
</div>