<h3>Status: <%= @status %></h3>
<p>For details click the link below:<br />
<a href="<%= @link_to_show_task %>"><%= @link_to_show_task %></a>
</p>

<p>If the above URL does not work try copying and pasting it into your browser.
If you continue to have problem please feel free to contact us.</p>
<a href="mailto:tech@titelbild.de">tech@titelbild.de</a>