<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Video Archive</title>
  <%= stylesheet_link_tag 'video_archive' %>
  <%= javascript_include_tag :all %>
</head>
<body>
	<div id="header">
	</div>
	<div id="page">
		<div id="content">
			<%- flash.each do |name, msg| -%>
	        <%= content_tag :div, msg, :id => "flash_#{name}" %>
	      	<%- end -%>
			<%= yield %>
			<p style="clear:both;text-align:center;position:relative;top:25px;padding:0px;margin:0px"></p>
		</div>
	</div>
</body>
</html>